@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Inconsolata:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: -0.015em;
  color: #111;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.022em;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.1;
}

.mono,
code,
pre {
  font-family: 'Inconsolata', 'Courier New', monospace;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #999;

}

  a {
    color: inherit;
    text-decoration: none;
    text-align: inherit;
  }

  a:hover {
    color: #444;
    font-style: italic;
  }

footer {
  margin-top: 2rem;
}
