---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/base_layout.astro';
import aboutImage from '../assets/about.jpg';

const allSeries = await getCollection('series');
const seriesData = allSeries.map((s) => ({
  title: s.data.title,
  slug: s.id,
}));
---

<BaseLayout title="About - Leslie Heintz" series={seriesData}>
  <div class="about-container">
    <div class="about-content">
      <div class="bio-section">
        <p>
          I am a French photographer currently based in Singapore. My work explores the intersections of architecture, nature and everyday life.
        </p>

        <p>
          I was trained as an engineer and architect, which probably explains my endless curiosity about how the world works. I love getting into design, programming, and all things tech, to name a few. I enjoy the balance between technical thinking and aesthetic vision.
        </p>

        <p>
          Leslie is part of the photographers who <a
            href="https://dontfeellikeposting.online"
            target="_blank"
            rel="noopener noreferrer"
            class="underline">don't feel like posting</a
          >.
        </p>

        <div class="photo-credit">
          <Image
            src={aboutImage}
            alt="Leslie Heintz portrait"
            class="about-image"
            loading="eager"
            quality={85}
            widths={[480, 768, 1024, 1536]}
            sizes="(max-width: 768px) 100vw, 50vw"
          />
          <p class="mono">Photo by Tom Thiercelin</p>
        </div>
      </div>

      <div class="right-column">
        <div class="features-section">
          <h2>Features</h2>
          <p>
            <a
              href="https://noicemagazine.com/LESLIE-HEINTZ"
              target="_blank"
              rel="noopener noreferrer">Noice Magazine</a
            > - 2025<br />
            <a
              href="https://dontfeellikeposting.online"
              target="_blank"
              rel="noopener noreferrer">don't feel like posting</a
            > - 2025<br />
            <a
              href="https://www.ephemere.tokyo/open-calls/open-call-5"
              target="_blank"
              rel="noopener noreferrer">Ephemere Tokyo</a
            > - 2024<br />
            <a
              href="https://linktr.ee/spreadthefuture"
              target="_blank"
              rel="noopener noreferrer">Spread The Future Podcast</a
            > - 2022<br />
            Le Diaph' - 2020
          </p>
        </div>
        <div class="find-me">
          <h2>Find me online</h2>
          <p>
            <svg
              class="social-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 150 88.25"
              width="16"
              height="16"
              fill="currentColor"
              ><path
                d="M148.93 62.356l-20.847-16.384c-1.276-1-1.276-2.642 0-3.645l20.848-16.38c1.28-1.002 1.815-2.695 1.19-3.76-.626-1.062-2.374-1.44-3.88-.84l-24.79 9.874c-1.507.606-2.927-.22-3.153-1.83L114.57 2.926C114.34 1.317 113.13 0 111.877 0c-1.247 0-2.456 1.317-2.68 2.925l-3.73 26.467c-.228 1.61-1.646 2.434-3.155 1.83l-24.38-9.71c-1.512-.602-3.975-.602-5.483 0l-24.384 9.71c-1.508.604-2.928-.22-3.154-1.83L41.186 2.925C40.956 1.317 39.748 0 38.5 0c-1.252 0-2.463 1.317-2.688 2.925l-3.73 26.467c-.226 1.61-1.645 2.434-3.153 1.83L4.14 21.35c-1.507-.603-3.252-.223-3.878.838-.625 1.066-.092 2.76 1.184 3.76l20.85 16.38c1.277 1.003 1.277 2.645 0 3.646L1.446 62.356C.166 63.358-.364 65.152.26 66.34c.627 1.19 2.372 1.668 3.877 1.064l24.567-9.866c1.51-.603 2.914.218 3.125 1.828l3.544 26.696c.214 1.607 1.618 2.923 3.12 2.923 1.5 0 2.905-1.315 3.12-2.923l3.55-26.696c.21-1.61 1.62-2.43 3.122-1.828l24.164 9.698c1.506.606 3.97.606 5.477 0l24.16-9.698c1.504-.603 2.91.218 3.125 1.828l3.55 26.696c.212 1.607 1.617 2.923 3.115 2.923 1.502 0 2.907-1.315 3.12-2.923l3.55-26.696c.216-1.61 1.62-2.43 3.124-1.828l24.57 9.866c1.5.604 3.25.125 3.876-1.063.627-1.186.094-2.98-1.185-3.982zM95.89 46.18L77.53 60.315c-1.285.99-3.393.99-4.674 0L54.49 46.18c-1.284-.99-1.294-2.62-.02-3.625l18.4-14.493c1.274-1.005 3.363-1.005 4.638 0l18.4 14.493c1.277 1.004 1.267 2.634-.02 3.626z"
              ></path></svg
            >
            <a
              href="https://www.are.na/leslie-heintz/index"
              target="_blank"
              rel="noopener noreferrer">Are.na</a
            ><br />
            <svg
              class="social-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 516.069 516.069"
              width="16"
              height="16"
              fill="currentColor"
              ><path
                d="M289.544,1.991l-74.577,129.132h267.532C446.312,65.22,373.904,11.416,289.544,1.991z M52.053,102.727l74.542,129.149L260.36,0.19C185.189-1.428,102.395,34.375,52.053,102.727z M20.544,358.77l149.118,0.018L35.896,127.102C-3.088,191.388-13.483,281.002,20.544,358.77z M226.525,514.077l74.577-129.132H33.571C69.757,450.849,142.166,504.652,226.525,514.077z M464.017,413.342l-74.542-129.149L255.709,515.878C330.88,517.496,413.675,481.693,464.017,413.342z M495.525,157.299l-149.118-0.018l133.766,231.686C519.157,324.681,529.553,235.066,495.525,157.299z"
              ></path></svg
            >
            <a
              href="https://pixelfed.social/lesliehtz"
              target="_blank"
              rel="noopener noreferrer">Pixelfed</a
            ><br />
            <svg
              class="social-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              fill="currentColor"
              ><path
                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
              ></path></svg
            >
            <a
              href="https://www.linkedin.com/in/leslie-heintz/"
              target="_blank"
              rel="noopener noreferrer">LinkedIn</a
            >
          </p>
        </div>
        <div class="credits-section">
          <h2 class="mono">Credits</h2>
          <p class="mono">
            <a
              href="https://rsms.me/inter/"
              target="_blank"
              rel="noopener noreferrer">Inter font</a
            > by <a
              href="https://rsms.me"
              target="_blank"
              rel="noopener noreferrer">Rasmus Andersson</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .about-container {
    max-width: 100%;
  }

  .about-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
  }

  .bio-section p {
    margin-bottom: 1.5rem;
  }

  .bio-section p:last-child {
    margin-bottom: 0;
  }

  .features-section h2 {
    margin-bottom: 1rem;
  }

  .find-me {
    margin-top: 3rem;
  }

  .find-me h2 {
    margin-bottom: 1rem;
  }

  .credits-section {
    margin-top: 3rem;
  }

  .credits-section h2 {
    margin-bottom: 1rem;
  }

  .photo-credit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .about-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .underline {
    text-decoration: underline;
  }

  .social-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;
  }

  @media (max-width: 768px) {
    .about-content {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    .credits {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
