<div class="home-grid">
  <div class="placeholder"></div>
</div>

<style>
  .home-grid {
    width: 100%;
  }

  .placeholder {
    width: 100%;
    height: 400px;
    background-color: #999;
  }
</style>

<!-- photo grid on home page with nav to each series by clicking on a photo-->